

 <!-- footer for Big screens -->
<div>

<div class="footer_large">


  <div class="row " style="background-color:black;">

<div class=" col-lg-5 logo  col-xs-12">

</div>

<div class="col-lg-2 col-xs-12" style="padding-top:80px;">

<span id="Copyrights"> Copyright © 2017 </span>

<br>
<span id="Copyrights"> ASU RACING TEAM </span>

</div>

<div class="col-lg-1  col-xs-12 " >

</div>

<div class=" followus col-lg-4  col-xs-12">

  <span style="display:block; color:white;" > FOLLOW US</span>

  <input type="image" class="fb"  src= "https://i.imgur.com/TKxZ6rY.png">
  <input type="image" class="twitter" src= "https://i.imgur.com/caDAUsf.png">
  <input type="image" class="instagram" src= "https://i.imgur.com/xRsWlb4.png">
  <input type="image" class="linkedin" src= "https://i.imgur.com/EG5Cn8w.png" >
  <input type="image" class="google" src= "https://i.imgur.com/s69vXZB.png">



</div>

  </div>

</div>


</div>


 <!-- footer for medium screens -->
<!-- <div *ngIf="x == 2">
  <div class="footer_large">


    <div class="row">

  <div class="col col-4 logo">

  </div>

  <div class="col col-2" style="padding-top:80px;">

  <span id="Copyrights"> Copyright © 2017 ASU_RACING_TEAM</span>

  </div>

  <div class="col col-1 " >

  </div>

  <div class="col col-5 followus">

    <span style="display:block; color:white;" > FOLLOW US</span>

    <input type="image" class="fb"  src= "https://i.imgur.com/TKxZ6rY.png" >
    <input type="image" class="twitter" src= "https://i.imgur.com/caDAUsf.png"  >
    <input type="image" class="instagram" src= "https://i.imgur.com/xRsWlb4.png"   >
    <input type="image" class="linkedin" src= "https://i.imgur.com/EG5Cn8w.png"  >
    <input type="image" class="google" src= "https://i.imgur.com/s69vXZB.png"   >



  </div>

    </div>

  </div>

</div>
 -->

 <!-- footer for small screens -->
<!-- <div *ngIf="x == 3">
  <div class="footer_large">


    <div class="row">

  <div class="col col-xs-12 logo  ">

  </div>

  <div class="col col-xs-12" style="padding-top:80px;">

  <span id="Copyrights"> Copyright © 2017 ASU_RACING_TEAM</span>

  </div>

  <div class="col col-1 " >

  </div>

  <div class="col col-xs-12 followus">

    <span style="display:block; color:white;" > FOLLOW US</span>

    <input type="image" class="fb"  src= "https://i.imgur.com/TKxZ6rY.png" >
    <input type="image" class="twitter" src= "https://i.imgur.com/caDAUsf.png"  >
    <input type="image" class="instagram" src= "https://i.imgur.com/xRsWlb4.png"   >
    <input type="image" class="linkedin" src= "https://i.imgur.com/EG5Cn8w.png"  >
    <input type="image" class="google" src= "https://i.imgur.com/s69vXZB.png"   >



  </div>

    </div>

  </div>

</div> -->
