

 <!-- footer for Big screens -->
<div class="container" style="background-color:black; min-width:100%;">

<div class="footer_large">


  <div class="row " style="background-color:black;">


    <div  class="col-lg-1  col-2 " style="border:yellow 5px solid;">

    </div>


<div class=" col-lg-3   col-10">


    

    <div *ngIf="x == 1">
        <img src="https://i.imgur.com/Is4j0pv.png" class="img-fluid test">
    </div>


    <div *ngIf="x == 3">
        <img src="https://i.imgur.com/wDoaR3E.png" class="img-fluid test">
    </div>


    <div *ngIf="x == 2">
        <img src="https://i.imgur.com/wDoaR3E.png" class="img-fluid test">
    </div>


  

</div>

<div class="col-lg-1 col-2" style="border:yellow 5px solid;"  >

</div>


<div class=" followus col-lg-4  col-10">

    <span style="display:block; color:white;" > FOLLOW US</span>
  
    <input type="image" class="fb"  src= "https://i.imgur.com/TKxZ6rY.png" >
    <input type="image" class="twitter" src= "https://i.imgur.com/caDAUsf.png">
    <input type="image" class="instagram" src= "https://i.imgur.com/xRsWlb4.png">
    <input type="image" class="linkedin" src= "https://i.imgur.com/EG5Cn8w.png" >
    <input type="image" class="google" src= "https://i.imgur.com/s69vXZB.png">
  
  
  
</div>

<div class="col-lg-1 col-2" style="border:yellow 5px solid;" >

</div>


<div class="col-lg-2 col-8" style="padding-top:80px;">

<span id="Copyrights"> Copyright © 2017 </span>

<br>
<span id="Copyrights"> ASU RACING TEAM </span>

</div>





  </div>

</div>


</div>


 <!-- footer for medium screens -->
<!-- <div *ngIf="x == 2">
  <div class="footer_large">


    <div class="row">

  <div class="col col-4 logo">

  </div>

  <div class="col col-2" style="padding-top:80px;">

  <span id="Copyrights"> Copyright © 2017 ASU_RACING_TEAM</span>

  </div>

  <div class="col col-1 " >

  </div>

  <div class="col col-5 followus">

    <span style="display:block; color:white;" > FOLLOW US</span>

    <input type="image" class="fb"  src= "https://i.imgur.com/TKxZ6rY.png" >
    <input type="image" class="twitter" src= "https://i.imgur.com/caDAUsf.png"  >
    <input type="image" class="instagram" src= "https://i.imgur.com/xRsWlb4.png"   >
    <input type="image" class="linkedin" src= "https://i.imgur.com/EG5Cn8w.png"  >
    <input type="image" class="google" src= "https://i.imgur.com/s69vXZB.png"   >



  </div>

    </div>

  </div>

</div>
 -->

 <!-- footer for small screens -->
<!-- <div *ngIf="x == 3">
  <div class="footer_large">


    <div class="row">

  <div class="col col-xs-12 logo  ">

  </div>

  <div class="col col-xs-12" style="padding-top:80px;">

  <span id="Copyrights"> Copyright © 2017 ASU_RACING_TEAM</span>

  </div>

  <div class="col col-1 " >

  </div>

  <div class="col col-xs-12 followus">

    <span style="display:block; color:white;" > FOLLOW US</span>

    <input type="image" class="fb"  src= "https://i.imgur.com/TKxZ6rY.png" >
    <input type="image" class="twitter" src= "https://i.imgur.com/caDAUsf.png"  >
    <input type="image" class="instagram" src= "https://i.imgur.com/xRsWlb4.png"   >
    <input type="image" class="linkedin" src= "https://i.imgur.com/EG5Cn8w.png"  >
    <input type="image" class="google" src= "https://i.imgur.com/s69vXZB.png"   >



  </div>

    </div>

  </div>

</div> -->
