.footer_large
{
height: 200px;

}

.logo
{
  background-image: url(https://i.imgur.com/wDoaR3E.png);
  height: 190px;
  overflow: hidden;
  background-repeat: no-repeat;

}

#Copyrights
{
  color: white;
  float: down;

}

.followus
{
  padding-top: 50px;
}

.fb
{

  width: 70px;
  height: 70px;
  border: 0px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
   filter: grayscale(100%);
}

.instagram
{

  width: 70px;
  height: 70px;
  border: 0px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
   filter: grayscale(100%);
}

.twitter
{

  width: 70px;
  height: 70px;
  border: 0px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
   filter: grayscale(100%);
}

.google
{

  width: 70px;
  height: 70px;
  border: 0px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
   filter: grayscale(100%);
}

.linkedin
{

  width: 70px;
  height: 70px;

  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
   filter: grayscale(100%);
}


.fb:hover
{
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
   filter: grayscale(0%);
   cursor: pointer;

}

.twitter:hover
{
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
   filter: grayscale(0%);
   cursor: pointer;
}

.google:hover
{
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
   filter: grayscale(0%);
   cursor: pointer;
}

.linkedin:hover
{
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
   filter: grayscale(0%);
   cursor: pointer;
}

.instagram:hover
{
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
   filter: grayscale(0%);
   cursor: pointer;
}


@media screen and (max-width:959px) and (min-width:700px)
{

.fb
{
  width:55px;
  height: 55px;
}

.twitter
{
  width:55px;
  height: 55px;
}

.linkedin
{
  width:55px;
  height: 55px
}

.instagram
{
  width:55px;
  height: 55px;
}

.google
{
  width:55px;
  height: 55px;
}

.logo
{
  background-size: contain;
  background-image: center;
}


}


@media screen and (max-width:699px)
{

.fb
{
  width:45px;
  height: 45px;
}

.twitter
{
  width:45px;
  height: 45px;
}

.linkedin
{
  width:45px;
  height: 45px
}

.instagram
{
  width:45px;
  height: 45px;
}

.google
{
  width:45px;
  height: 45px;
}

.logo
{
  background-size: contain;
  background-image: center;
  /* margin-top: 25%; */
}

.splitter
{

}

}


.test
{
    max-width: 100%;
    height:auto;
    display: block;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    

}

.test:hover
{
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}


@media screen and (min-width:360px) and (max-width:950px) 
{
 
  .splitter
  {
    width:25%;
    display: inline;
  }

}