<div class="container" style="margin-top:5%;">

  <div class="row">

      <div class="col-md-6 col-12" id="red">
          
        <p class="h3">Have any Questions? Try our FAQ.</p>
        <span></span>

      </div>

      <div class="col-md-6 col-12" id="yellow">
          <p class="h3">ASU-RT's Gallery</p>
      </div>


  </div>


  <div class="row">

      <div class="col-md-6 col-12" id="green" >
          <p class="h3">Send us a message!</p>
      </div>
  
      <div class="col-md-6 col-12" id="blue">
          <p class="h3">About us</p>
      </div>

  </div>

</div>