<div class="contain">
  <div class="container">
      <div class="contact"     >
          <!-- (window:resize)="WidthChange()" -->
          <!-- <span class="words">CONTACT</span> -->
           <input type="image"   src="https://i.imgur.com/j80lpll.png" class="icons fb" />
          <input type="image"   src="https://i.imgur.com/ma5exx3.png" class="icons yt" />
           <input type="image"  src="https://i.imgur.com/7HxdaxZ.png" class="icons gps" />
           <input type="image"   src="https://i.imgur.com/uCEEAWI.png" class="icons sc" />
          <input type="image"   src="https://i.imgur.com/FSBKak9.png" class="icons ig" />
          <input type="image"  src="https://i.imgur.com/JJfPKrA.png" class="icons tw" />
          <input type="image"  src="https://i.imgur.com/xTpDANK.png" class="icons li" />
          <input type="image"   src="https://i.imgur.com/mJZQ5O6.png" class="icons email" />

          <!-- buttons fixed -->
            <!-- <input type="image" src="https://i.imgur.com/ma5exx3.png" class="icons yt2" />
            <input type="image" src="https://i.imgur.com/JJfPKrA.png" class="icons tw2" />
            <input type="image" src="https://i.imgur.com/xTpDANK.png" class="icons li2" />
            <input type="image" src="https://i.imgur.com/mJZQ5O6.png" class="icons email" /> -->

          <img   src="https://i.imgur.com/SbMLPln.png" class="ellipse">

      </div>
  </div>
</div>
