<div >

  <!-- div for the formula -->

  <div class="Formula">



        <div class="row">

          <div class=" col-3 col-xs-3 logo1" >

          </div>

          <div class=" col-9 col-xs-9 ">

          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner" role="listbox">


              <div *ngIf="x == 1">

                <div class="carousel-item active ">

<div class="row">
  <div class="  col-2 ">

  </div>
  <div class="card  col-2 " >
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
  </div>

  <div class=" col-1">

  </div>

  <div class="card  col-2 " >
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class=" col col-1">

  </div>


  <div class="card   col-2 " >
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  </div>
</div>


                    <div class="carousel-item  ">

                      <div class="row">
                        <div class="  col-2 ">

                        </div>
                        <div class="card  col-2 " >
                            <img class="card-img-top" src="..." alt="Card image cap">
                            <div class="card-block">
                              <h4 class="card-title">Card title</h4>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>

                        <div class=" col-1">

                        </div>

                        <div class="card  col-2 " >
                            <img class="card-img-top" src="..." alt="Card image cap">
                            <div class="card-block">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                          </div>
                        </div>

                        <div class="  col-1">

                        </div>


                        <div class="card   col-2 " >
                            <img class="card-img-top" src="..." alt="Card image cap">
                            <div class="card-block">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                          </div>
                        </div>

                        </div>
                        </div>


                        <div class="carousel-item  ">

                          <div class="row">
                            <div class="  col-2 ">

                            </div>
                            <div class="card  col-2 " >
                                <img class="card-img-top" src="..." alt="Card image cap">
                                <div class="card-block">
                                  <h4 class="card-title">Card title</h4>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>

                            <div class=" col-1">

                            </div>

                            <div class="card  col-2 " >
                                <img class="card-img-top" src="..." alt="Card image cap">
                                <div class="card-block">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                              </div>
                            </div>

                            <div class="  col-1">

                            </div>


                            <div class="card   col-2 " >
                                <img class="card-img-top" src="..." alt="Card image cap">
                                <div class="card-block">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                              </div>
                            </div>

                            </div>

                            </div>





              </div>

              <div *ngIf="x == 2">


                <div class="carousel-item active ">

              <div class="row">
              <div class="  col-4 ">

              </div>
              <div class="card  col-2 " >
              <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-block">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
              </div>

              <div class=" col-1">

              </div>

              <div class="card  col-2 " >
              <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-block">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
              </div>

              <div class=" col col-1">

              </div>




              </div>
              </div>


                    <div class="carousel-item  ">

                      <div class="row">
                        <div class="  col-4 ">

                        </div>
                        <div class="card  col-2 " >
                            <img class="card-img-top" src="..." alt="Card image cap">
                            <div class="card-block">
                              <h4 class="card-title">Card title</h4>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>

                        <div class=" col-1">

                        </div>

                        <div class="card  col-2 " >
                            <img class="card-img-top" src="..." alt="Card image cap">
                            <div class="card-block">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                          </div>
                        </div>

                        <div class="  col-1">

                        </div>




                        </div>
                        </div>


                        <div class="carousel-item  ">

                          <div class="row">
                            <div class="  col-4 ">

                            </div>
                            <div class="card  col-2 " >
                                <img class="card-img-top" src="..." alt="Card image cap">
                                <div class="card-block">
                                  <h4 class="card-title">Card title</h4>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>

                            <div class=" col-1">

                            </div>

                            <div class="card  col-2 " >
                                <img class="card-img-top" src="..." alt="Card image cap">
                                <div class="card-block">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                              </div>
                            </div>

                            <div class="  col-1">

                            </div>




                            </div>

                            </div>

                            <div class="carousel-item  ">

                              <div class="row">
                                <div class="  col-4 ">

                                </div>
                                <div class="card  col-2 " >
                                    <img class="card-img-top" src="..." alt="Card image cap">
                                    <div class="card-block">
                                      <h4 class="card-title">Card title</h4>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                      <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>

                                <div class=" col-1">

                                </div>

                                <div class="card  col-2 " >
                                    <img class="card-img-top" src="..." alt="Card image cap">
                                    <div class="card-block">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                  </div>
                                </div>

                                <div class="  col-1">

                                </div>




                                </div>

                                </div>



              </div>

              <div *ngIf="x == 3">

                <div class="carousel-item active  ">

                  <div class="row">
                    <div class="  col-4 ">

                    </div>
                    <div class="card  col-5 " >
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-block">
                          <h4 class="card-title">Card title</h4>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>




                    </div>

                    </div>

                    <div class="carousel-item  ">

                      <div class="row">
                        <div class="  col-4 ">

                        </div>
                        <div class="card  col-5 " >
                            <img class="card-img-top" src="..." alt="Card image cap">
                            <div class="card-block">
                              <h4 class="card-title">Card title</h4>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>




                        </div>
                        </div>

                        <div class="carousel-item  ">
                          <div class="row">
                            <div class="  col-4 ">

                            </div>
                            <div class="card  col-5 " >
                                <img class="card-img-top" src="..." alt="Card image cap">
                                <div class="card-block">
                                  <h4 class="card-title">Card title</h4>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>




                            </div>

                            </div>

                            <div class="carousel-item  ">

                              <div class="row">
                                <div class="  col-4 ">

                                </div>
                                <div class="card  col-5 " >
                                    <img class="card-img-top" src="..." alt="Card image cap">
                                    <div class="card-block">
                                      <h4 class="card-title">Card title</h4>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                      <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>




                                </div>

                                </div>

                                <div class="carousel-item  ">

                                  <div class="row">
                                    <div class="  col-4 ">

                                    </div>
                                    <div class="card  col-5 " >
                                        <img class="card-img-top" src="..." alt="Card image cap">
                                        <div class="card-block">
                                          <h4 class="card-title">Card title</h4>
                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                          <a href="#" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                    </div>




                                    </div>

                                    </div>

                                    <div class="carousel-item  ">

                                      <div class="row">
                                        <div class="  col-4 ">

                                        </div>
                                        <div class="card  col-5 " >
                                            <img class="card-img-top" src="..." alt="Card image cap">
                                            <div class="card-block">
                                              <h4 class="card-title">Card title</h4>
                                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                              <a href="#" class="btn btn-primary">Go somewhere</a>
                                            </div>
                                        </div>




                                        </div>
                                        </div>

                                        <div class="carousel-item  ">

                                          <div class="row">
                                            <div class="  col-4 ">

                                            </div>
                                            <div class="card  col-5 " >
                                                <img class="card-img-top" src="..." alt="Card image cap">
                                                <div class="card-block">
                                                  <h4 class="card-title">Card title</h4>
                                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div>




                                            </div>

                                            </div>

                                            <div class="carousel-item  ">

                                              <div class="row">
                                                <div class="  col-4 ">

                                                </div>
                                                <div class="card  col-5 " >
                                                    <img class="card-img-top" src="..." alt="Card image cap">
                                                    <div class="card-block">
                                                      <h4 class="card-title">Card title</h4>
                                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                      <a href="#" class="btn btn-primary">Go somewhere</a>
                                                    </div>
                                                </div>




                                                </div>

                                                </div>



              </div>












            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
            </div>


          </div>




      </div>

</div>
</div>

  <div class="Eco">

    <div class="container">

      <div class="row">

        <div class="col col-3">

        </div>

        <div class="col col-9">

        </div>

      </div>

    </div>

  </div>
